* {
  box-sizing: border-box; }

html,
body {
  margin: 0;
  height: 100%; }

body {
  background-color: #f4f8f9;
  color: #323c47;
  letter-spacing: 0.1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

p {
  margin: 0.7rem 0; }

a {
  color: #323c47;
  text-decoration: none; }

.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template: 7rem 1fr / 8rem 1fr 20rem;
  grid-template-areas: 'nav header header' 'nav main sidebar'; }
  .container nav {
    grid-area: nav;
    background-color: #fafbfc;
    border-right: solid 1px #b8b8b8; }
    .container nav .nav-links {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .container nav .nav-links a {
        color: #4da1ff;
        padding: 1.5rem;
        width: 100%;
        text-align: center;
        position: relative; }
        .container nav .nav-links a.logo {
          margin-bottom: 8rem; }
        .container nav .nav-links a:hover {
          background-color: #f4f8f9; }
        .container nav .nav-links a.active:before {
          content: '';
          height: 100%;
          width: 20px;
          background-color: #4da1ff;
          position: absolute;
          left: -10px;
          top: 0;
          border-radius: 10px; }
  .container header {
    grid-area: header;
    background-color: #fafbfc;
    border-bottom: solid 1px #b8b8b8;
    display: flex;
    align-items: center; }
    .container header input[type='text'] {
      width: 80%;
      padding: 1rem;
      border: none;
      background-color: inherit;
      font-size: 1rem;
      letter-spacing: 0.1rem; }
      .container header input[type='text']:focus {
        outline: none; }
    .container header i {
      margin-left: 4rem;
      color: #b8b8b8; }
  .container #main {
    grid-area: main; }
  .container #side-bar {
    grid-area: sidebar;
    background-color: #fafbfc;
    display: flex;
    flex-direction: column;
    padding: 2rem; }
    .container #side-bar .forecast {
      display: flex;
      align-items: center; }
      .container #side-bar .forecast .icon {
        position: relative; }
        .container #side-bar .forecast .icon .notification {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          top: 0.7rem;
          right: 0.7rem;
          background-color: #ff6d4a;
          border-radius: 50%;
          height: 24px;
          width: 24px;
          text-align: center; }
          .container #side-bar .forecast .icon .notification p {
            color: #fafbfc; }
        .container #side-bar .forecast .icon .fas {
          padding: 1rem;
          color: #4da1ff; }
    .container #side-bar .event-card {
      padding: 1rem 0; }
      .container #side-bar .event-card .time {
        color: #b8b8b8; }
      .container #side-bar .event-card .description {
        color: #323c47; }
      .container #side-bar .event-card.notification .description:before {
        content: '';
        width: 10px;
        height: 10px;
        background-color: #ff6d4a;
        border-radius: 50%;
        float: left;
        margin: 0.2rem;
        margin-right: 0.5rem; }
      .container #side-bar .event-card.complete .description {
        text-decoration: line-through; }
