* {
  box-sizing: border-box; }

html,
body {
  margin: 0;
  height: 100%; }

body {
  background-color: #f4f8f9;
  color: #323c47;
  letter-spacing: 0.05rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

p {
  margin: 0.7rem 0; }

a {
  color: #323c47;
  text-decoration: none; }

.img-wrapper {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden; }
  .img-wrapper img {
    width: 100%; }

button {
  color: #4da1ff;
  background-color: #fafbfc;
  border: solid 1px #4da1ff;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  outline: none; }
  button i {
    margin-right: 0.8rem; }
  button:hover {
    background-color: #f4f8f9; }

.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template: auto 1fr / 8rem 1fr 20rem;
  grid-template-areas: 'nav header user' 'nav main sidebar'; }
  .container nav {
    grid-area: nav;
    background-color: #fafbfc;
    border-right: solid 1px #b8b8b8;
    position: fixed;
    height: 100%;
    width: 8rem; }
    .container nav .nav-links {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .container nav .nav-links a {
        color: #4da1ff;
        padding: 1.5rem;
        width: 100%;
        text-align: center;
        position: relative; }
        .container nav .nav-links a.logo {
          margin: 2rem 0 4rem 0; }
        .container nav .nav-links a:hover {
          background-color: #f4f8f9; }
        .container nav .nav-links a.active:before {
          content: '';
          height: 100%;
          width: 20px;
          background-color: #4da1ff;
          position: absolute;
          left: -10px;
          top: 0;
          border-radius: 10px; }
  .container header {
    grid-area: header;
    background-color: #fafbfc;
    border-bottom: solid 1px #b8b8b8;
    display: flex;
    align-items: center;
    padding: 3rem; }
    .container header form {
      width: 100%; }
    .container header input[type='text'] {
      width: 80%;
      height: auto;
      padding: 1rem;
      border: none;
      background-color: inherit;
      font-size: 1rem;
      letter-spacing: 0.1rem; }
      .container header input[type='text']:focus {
        outline: none; }
    .container header i {
      color: #b8b8b8; }
  .container .user-panel {
    grid-area: user;
    background-color: #fafbfc;
    border-bottom: solid 1px #b8b8b8;
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .container .user-panel .img-wrapper {
      margin: 1rem; }
  .container #main {
    grid-area: main;
    padding: 3rem;
    padding-bottom: 0;
    position: relative; }
    .container #main h1 {
      margin-top: 0;
      font-size: 3rem;
      font-weight: 200;
      display: inline-block; }
    .container #main button {
      display: inline-block;
      margin-left: 1.5rem; }
    .container #main #layout-selector {
      position: absolute;
      top: 0;
      right: 0;
      margin: 3rem;
      display: flex;
      flex-direction: row;
      padding: 0.4rem;
      background-color: #eaf2f4;
      width: fit-content;
      border-radius: 6px;
      color: #b8b8b8; }
      .container #main #layout-selector i {
        margin-right: 0.5rem; }
      .container #main #layout-selector label {
        padding: 0.6rem;
        display: block;
        border-radius: 4px;
        margin: 0.2rem;
        cursor: pointer; }
      .container #main #layout-selector input[type='radio'] {
        display: none; }
      .container #main #layout-selector input[type='radio']:checked ~ label {
        background-color: #fafbfc;
        color: #323c47;
        -webkit-box-shadow: 3px 3px 25px 0px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 3px 3px 25px 0px rgba(0, 0, 0, 0.05);
        box-shadow: 3px 3px 25px 0px rgba(0, 0, 0, 0.05); }
        .container #main #layout-selector input[type='radio']:checked ~ label i {
          color: #4da1ff; }
    .container #main .highlight1 {
      color: #4da1ff; }
    .container #main .highlight2 {
      color: #ff6d4a; }
    .container #main .card-container {
      display: flex;
      flex-flow: row wrap; }
      .container #main .card-container.user-card-container {
        justify-content: space-between; }
        .container #main .card-container.user-card-container .card {
          margin-right: 0; }
      .container #main .card-container .card {
        min-width: 24rem;
        background-color: #fafbfc;
        padding: 2rem;
        margin-right: 2rem;
        margin-bottom: 2rem;
        border-radius: 12px;
        -webkit-box-shadow: 3px 3px 25px 0px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 3px 3px 25px 0px rgba(0, 0, 0, 0.05);
        box-shadow: 3px 3px 25px 0px rgba(0, 0, 0, 0.05); }
        .container #main .card-container .card h3 {
          display: inline-block;
          font-size: 2rem;
          margin: 0; }
        .container #main .card-container .card.user-card {
          display: grid;
          grid-template: auto auto / auto auto;
          grid-template-areas: 'img info' 'notifs notifs'; }
          .container #main .card-container .card.user-card .user-notifications {
            grid-area: notifs;
            width: 100%;
            display: flex;
            flex-direction: row;
            margin-top: 2rem;
            border: solid 1px #b8b8b8;
            border-radius: 12px; }
            .container #main .card-container .card.user-card .user-notifications .invites,
            .container #main .card-container .card.user-card .user-notifications .pending {
              width: 50%;
              padding: 0.5rem 2rem;
              cursor: pointer; }
              .container #main .card-container .card.user-card .user-notifications .invites p,
              .container #main .card-container .card.user-card .user-notifications .pending p {
                margin: 0;
                font-size: 0.8rem; }
              .container #main .card-container .card.user-card .user-notifications .invites h3,
              .container #main .card-container .card.user-card .user-notifications .pending h3 {
                font-size: 1.6rem; }
            .container #main .card-container .card.user-card .user-notifications .pending {
              border-left: solid 1px #b8b8b8; }
              .container #main .card-container .card.user-card .user-notifications .pending h3:before {
                content: '';
                width: 10px;
                height: 10px;
                background-color: #ff6d4a;
                border-radius: 50%;
                display: inline-block;
                vertical-align: middle;
                margin: 0.2rem;
                margin-right: 0.5rem; }
        .container #main .card-container .card .img-wrapper {
          grid-area: img;
          display: inline-block; }
        .container #main .card-container .card .card-info {
          grid-area: info;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding-left: 1rem; }
          .container #main .card-container .card .card-info h4 {
            margin-top: 0; }
          .container #main .card-container .card .card-info p {
            color: #b8b8b8;
            margin: 0; }
    .container #main.table .card-container.user-card-container .card.user-card {
      width: 100%;
      grid-template-columns: 120px auto 1fr 20rem;
      grid-template-areas: 'img info . notifs'; }
      .container #main.table .card-container.user-card-container .card.user-card .user-notifications {
        margin: 0;
        align-self: center; }
  .container #side-bar {
    grid-area: sidebar;
    background-color: #fafbfc;
    display: flex;
    flex-direction: column;
    padding: 2rem; }
    .container #side-bar .forecast {
      display: flex;
      align-items: center; }
      .container #side-bar .forecast .icon {
        position: relative; }
        .container #side-bar .forecast .icon .notification {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          top: 0.7rem;
          right: 0.7rem;
          background-color: #ff6d4a;
          border-radius: 50%;
          height: 24px;
          width: 24px; }
          .container #side-bar .forecast .icon .notification p {
            color: #fafbfc;
            font-size: 0.8rem; }
        .container #side-bar .forecast .icon .fas {
          padding: 1rem;
          color: #4da1ff; }
      .container #side-bar .forecast h4 {
        color: #b8b8b8; }
    .container #side-bar .event-card {
      padding: 1rem 0; }
      .container #side-bar .event-card .time {
        color: #b8b8b8; }
      .container #side-bar .event-card .description {
        color: #323c47; }
      .container #side-bar .event-card.notification .description:before {
        content: '';
        width: 10px;
        height: 10px;
        background-color: #ff6d4a;
        border-radius: 50%;
        float: left;
        margin: 0.2rem;
        margin-right: 0.5rem; }
      .container #side-bar .event-card.complete .description {
        text-decoration: line-through; }
      .container #side-bar .event-card .event-actions {
        margin-top: 1rem; }
        .container #side-bar .event-card .event-actions a {
          font-size: 80%;
          padding: 1rem;
          color: #b8b8b8; }
          .container #side-bar .event-card .event-actions a:hover {
            color: #323c47; }

@media screen and (max-width: 768px) {
  .container {
    grid-template: 7rem auto auto auto / 8rem 1fr;
    grid-template-areas: 'nav user' 'nav header' 'nav sidebar' 'nav main'; }
    .container #main #layout-selector {
      display: none; }
    .container #main .card-container {
      flex-flow: column nowrap;
      align-items: center; }
      .container #main .card-container .card {
        min-width: 350px;
        margin: 0.5rem 0; }
    .container #main h1 {
      margin-bottom: 1rem; }
    .container #main button {
      margin-left: 0.5rem; }
    .container header {
      padding: 0.5rem; }
      .container header input[type='text'] {
        width: 100%;
        font-size: 80%; }
    .container header,
    .container .user-panel {
      border: none; } }

@media screen and (max-width: 500px) {
  .container {
    padding: 1rem;
    grid-template: auto auto auto auto auto / 1fr;
    grid-template-areas: 'nav nav' 'user user' 'header header' 'sidebar sidebar' 'main main'; }
    .container #main,
    .container #sidebar {
      padding: 2rem 0 0 0; }
    .container nav {
      position: relative;
      width: 100%;
      border-right: none;
      border-bottom: solid 1px #b8b8b8; }
      .container nav .nav-links {
        flex-direction: row;
        padding: 1rem 1rem 0 1rem; }
        .container nav .nav-links .logo {
          display: none; }
        .container nav .nav-links a {
          padding: 0.5rem; }
        .container nav .nav-links a.active {
          border-bottom: solid 3px #4da1ff; }
          .container nav .nav-links a.active::before {
            display: none; }
    .container .user-panel {
      margin-top: 1rem;
      padding: 1rem; } }
