$bgLight: #fafbfc;
$bgDark: #f4f8f9;
$primary: #323c47;
$secondary: #b8b8b8;
$highlight1: #4da1ff;
$highlight2: #ff6d4a;

@mixin shadow {
  -webkit-box-shadow: 3px 3px 25px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 3px 3px 25px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 3px 3px 25px 0px rgba(0, 0, 0, 0.05);
}

@mixin mediaMed {
  @media screen and (max-width: 768px) {
    @content;
  }
}
