@include mediaMed {
  .container {
    grid-template: 7rem auto auto auto / 8rem 1fr;
    grid-template-areas:
      'nav user'
      'nav header'
      'nav sidebar'
      'nav main';

    #main {
      #layout-selector {
        display: none;
      }
      .card-container {
        flex-flow: column nowrap;
        align-items: center;
        .card {
          min-width: 350px;
          margin: 0.5rem 0;
        }
      }
      h1 {
        margin-bottom: 1rem;
      }

      button {
        margin-left: 0.5rem;
      }
    }

    header {
      padding: 0.5rem;
      input[type='text'] {
        width: 100%;
        font-size: 80%;
      }
    }

    header,
    .user-panel {
      border: none;
    }
  }
}

@include mediaSml {
  .container {
    padding: 1rem;
    grid-template: auto auto auto auto auto / 1fr;
    grid-template-areas:
      'nav nav'
      'user user'
      'header header'
      'sidebar sidebar'
      'main main'; // for some reason this template seems to improve layout despite only one column ??
    #main,
    #sidebar {
      padding: 2rem 0 0 0;
    }
    nav {
      position: relative;
      width: 100%;
      border-right: none;
      border-bottom: solid 1px $secondary;

      .nav-links {
        flex-direction: row;
        padding: 1rem 1rem 0 1rem;
        .logo {
          display: none;
        }
        a {
          padding: 0.5rem;
        }
        a.active {
          border-bottom: solid 3px $highlight1;
          &::before {
            display: none;
          }
        }
      }
    }

    .user-panel {
      margin-top: 1rem;
      padding: 1rem;
    }
  }
}
