@include mediaMed {
  .container {
    grid-template: auto 7rem auto auto auto / 1fr;
    grid-template-areas:
      'nav'
      'user'
      'header'
      'sidebar'
      'main';
    padding: 1rem;

    #main,
    #sidebar {
      padding: 2rem 0 0 0;
    }

    #main {
      #layout-selector {
        display: none;
      }
      .card-container {
        flex-flow: column nowrap;
        align-items: center;
        .card {
          min-width: 350px;
          margin: 0.5rem 0;
        }
      }
      h1 {
        margin-bottom: 1rem;
      }

      button {
        margin-left: 0.5rem;
      }
    }

    nav {
      position: relative;
      width: 100%;
      border-right: none;
      border-bottom: solid 1px $secondary;

      .nav-links {
        flex-direction: row;
        padding: 1rem 1rem 0 1rem;
        .logo {
          display: none;
        }
        a {
          padding: 0.5rem;
        }
        a.active {
          border-bottom: solid 3px $highlight1;
          &::before {
            display: none;
          }
        }
      }
    }

    header {
      i {
        margin-left: 0.5rem;
      }
    }

    header,
    .user-panel {
      border: none;
    }
  }
}
