@import 'config';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  background-color: $bgDark;
  color: $primary;
  letter-spacing: 0.1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
  margin: 0.7rem 0;
}

a {
  color: $primary;
  text-decoration: none;
}

.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template: 7rem 1fr / 8rem 1fr 20rem;
  grid-template-areas:
    'nav header header'
    'nav main sidebar';

  nav {
    grid-area: nav;
    background-color: $bgLight;
    border-right: solid 1px $secondary;

    .nav-links {
      display: flex;
      flex-direction: column;
      align-items: center;

      a {
        color: $highlight1;
        padding: 1.5rem;
        width: 100%;
        text-align: center;
        position: relative;

        &.logo {
          margin-bottom: 8rem;
        }

        &:hover {
          background-color: $bgDark;
        }

        &.active:before {
          content: '';
          height: 100%;
          width: 20px;
          background-color: $highlight1;
          position: absolute;
          left: -10px;
          top: 0;
          border-radius: 10px;
        }
      }
    }
  }

  header {
    grid-area: header;
    background-color: $bgLight;
    border-bottom: solid 1px $secondary;
    display: flex;
    align-items: center;

    input[type='text'] {
      width: 80%;
      padding: 1rem;
      border: none;
      background-color: inherit;
      font-size: 1rem;
      letter-spacing: 0.1rem;

      &:focus {
        outline: none;
      }
    }

    i {
      margin-left: 4rem;
      color: $secondary;
    }
  }

  .main {
    grid-area: main;
  }

  .side-bar {
    grid-area: sidebar;
    background-color: $bgLight;
    display: flex;
    flex-direction: column;
    padding: 2rem;

    .forecast {
      display: flex;
      align-items: center;

      .fas {
        padding: 1rem;
        color: $highlight1;
      }
    }

    .event-card {
      padding: 1rem 0;
      .time {
        color: $secondary;
      }

      .description {
        color: $primary;
      }

      &.notification {
        .description:before {
          content: '';
          width: 10px;
          height: 10px;
          background-color: $highlight2;
          border-radius: 50%;
          float: left;
          margin: 0.2rem;
          margin-right: 0.5rem;
        }
      }
      &.complete {
        .description {
          text-decoration: line-through;
        }
      }
    }
  }
}
